header {
    background-color: #FFEB3B;
    color: black;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    display: flex;
    align-items: center;
}


body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background-color 0.5s, color 0.5s;
}

.container {
    text-align: center;
    animation: fadeIn 2s ease-in-out;
}

h1 {
    font-size: 3rem;
    margin: 0;
}

p {
    font-size: 2rem;
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #ffdb4d;
    color: #000;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

body.day {
    background-color: #fff;
    color: #000;
}

body.night {
    background-color: #2c3e50;
    color: #ecf0f1;
}

button.day {
    background-color: #f39c12;
    color: #fff;
}

button.night {
    background-color: #2980b9;
    color: #fff;
}
